<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Productos en Tiempo Real</title>
	</head>
	<body>
		<h1>Productos en Tiempo Real</h1>
		<ul id="productList"></ul>

		<script src="/socket.io/socket.io.js"></script>
		<script>
			const socket = io(); const productList =
			document.getElementById("productList"); // Actualizar productos en tiempo
			real socket.on("updateProducts", (products) => { productList.innerHTML =
			""; // Limpiar la lista actual products.forEach((product) => { const li =
			document.createElement("li"); li.textContent = `${product.title} -
			$${product.price}`; productList.appendChild(li); }); });
		</script>
	</body>
</html>